<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" type="image/png" href="login/static/im/crowis_logo.png"/>
		<title>PTM</title>
        <meta charset="utf-8">
        {{ bokeh_css }}
        {{ bokeh_js }}
        <link rel="stylesheet" href="login/static/css/styles.css"/>
    </head>
    <body id='body'>
        <div class="container">
            {{ plot_div|indent(8) }}
            {{ plot_script|indent(8) }}
        </div>
    </body>
</html>
    